html {
  scroll-behavior: smooth;
}
.Portfolio {
  position: relative;
}
.port{
  overflow: hidden;
}
.Portfolio .box {
  border-radius: 10px;
  /* position: relative; */
}
.Portfolio .box:hover {
  background: none;
  transform: scale(1.05);
}
.card{
  transition: .5 all ease;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.card:hover{
  

}

.Portfolio .img {
  height: 300px;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px;

}
.Portfolio img {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
  height: 300px;
}
.Portfolio .box .img img:hover {
  transform: scale(1.2);
}
.Portfolio .category {
  margin: 20px 0 30px 0;
  text-transform: uppercase;
}
.Portfolio .category span {
  color: #ff014f;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
}
.Portfolio .title{
  display: flex;
  flex-direction: row;
}
.Portfolio .arrow {

  font-size: 22px;
  color: #ff014f;
  transform: rotateY(180deg);
  opacity: 1;
  transition: 0.2s;
  margin-left: 20px;
}
.Portfolio .title:hover .arrow {
  opacity: 1;
}
.Portfolio h2 {
  font-size: 18px;
  transition: 0.5s;
  padding-bottom: 30px;
}
.Portfolio .box:hover h2 {
  color: #ff014f;
}
.Portfolio .box:hover {
  color: black;
}
/*------------popup--------*/
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  

}
.btn_shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #000;
  transition: 0.5s;
}
.overlay {
  background-color: #ecf0f3;
  overscroll-behavior: contain;
  /* backdrop-filter: blur(10px); */
}
.modal-content {
  position: absolute;
  top: 12%;
  left: 8%;
  right: 8%;
  bottom: 12%;
  line-height: 1.4;
  background: #f0f3f5;
  padding: 14px 28px;
  border-radius: 3px;
  z-index: 9999;
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  padding: 50px;
  border-radius: 10px;
  height: fit-content;
  
}
.modal-img img{
  height: 450px;
  object-fit: cover;
}
.modal-text {
  padding: 0 30px 0 50px;
}
.modal-text h1 {
  margin: 20px 0 20px 0;
  font-size: 30px;
}
.modal-text p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 25px;
  text-align: justify;
}

.modal .btn{
  padding: 8px 12px;
  background: #ff014f;
  color: white;
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;

}
.modal-text h3{
  padding: 10px 0;
  color: #555555;
  /* font-size: 32px; */
}
.modal-text button {
  margin-right: 20px;
  color: #ff014f;
  margin-bottom: 20px;
}
.modal-text button i {
  margin-left: 10px;
}
.modal-text button.close-modal {
  position: absolute;
  top: 12px;
  right: 8px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  padding: 0 0;
  font-size: 20px;
}
.modal-text button.close-modal i {
  margin: 0;
}

@media (max-width: 1080px) {
  .modal,
  .overlay {
    overflow: scroll;
  }
  .modal-text h1{
    text-align: center;
  }
  .modal-text {
    padding: 0 ;
    width: 100%;
  }
  .modal .modal-img {
    margin: 50px 0 50px 0;
  }
  .modal-content {
    flex-direction: column;
  }
  .modal-text p {
    font-size: 14px;
  }
  .modal .right,
  .modal .left {
    padding: 0;
  }
  .modal-img img{
    min-height: 100%;
    min-width: 200%;
  }
  .modal-content{
    right: 20%;
    left: 20%;
    
  }
  .modal .modal-img {
    margin: 50px 0 50px 0;
  }
  .modal-content {
    flex-direction: column;
    justify-content: center;
    
  }

}
/*------------popup--------*/
@media (max-width: 768px) {
  .modal,
  .overlay {
    overflow: scroll;
  }
  .modal-img{
    width: 100%;
  }
  .modal-img img{
    height: 100%;
    min-width: 100%;
  }
  .modal{
    margin: 50px 0 50px 0;
  }
  .modal-content {
    flex-direction: column;
  }
  .modal-text p {
    font-size: 14px;
  }
  .modal .right,
  .modal .left {
    padding: 0;
  }
  .modal-text h3{
    font-size: 18px;
  }
  .modal-text h1{
    font-size: 24px;
  }
}
@media (max-width: 620px) {
  .modal-content{
    right: 5%;
    left: 6%;
    
  }
}

@media (max-width: 400px) {
  .modal-text p {
    font-size: 10px;
  }

  .modal-text h3{
    font-size: 14px;
  }
  .modal-text h1{
    font-size: 18px;
  }
  .modal-text button.close-modal {
    line-height: .5;
    width: 25px;
    height: 25px;
    right: 0px;
  }
  .modal-text button.close-modal i {
   font-size: 10px;
  }
  a .btn_shadow {
    padding: 8px 12px;
  }
}