/* .Skills{
    background: linear-gradient(rgb(221, 236, 238),#c3d8dc);
} */
.Skills .slider img{
    width: 100px;
    height: 100px;
}
.skills-row{
    width: 100%;
    padding:0 10px ;
}
.Skills .slider .image{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    margin: 20px 0;
    align-items: center;
    justify-content: center !important;
    animation: 20s slidescroll linear infinite;
}
.Skills .slider .image1{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    margin: 20px 0;
    align-items: center;
    justify-content: center !important;

}
.skills-col{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@keyframes slidescroll{
    0%
    {
        transform:translateX(0px)
    }
    100%{
        transform:translateX(calc(-700px))
    }
}
.image h4{
    font-size: 16px;
}

.Skills .slider .slide-map{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.Skills .slider .slide-map1{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slider-content h3{
    text-align: center;
    font-size: 24px;
    color: #ff014f;
    padding: 20px 0 0px 0;
    border-bottom: 2px solid #ff014f ;
}
.img_shadow {
    padding: 18px 25px;
    border-radius: 6px;
    transition: 0.3s all ease;
    /* cursor: pointer; */
    color: #000;
    transition: 0.5s;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    margin-bottom: 10px;
}

.slider-content{
    /* border: 2px solid black; */
    margin-bottom: 25px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    border-radius: 10px;
    width: 75%;
    padding: 0 20px;

}

@media (max-width: 968px) {
    .img_shadow {
        padding: 10px 14px;
    }
    .Skills .slider img{
        width: 50px;
        height: 50px;
    }
    .Skills .slider .image1{
        padding: 10px;
    }
    .Skills .slider .image{
        padding: 20px;
    }
    .image h4, .image1 h4{
        font-size: 12px;
    }
    @keyframes slidescroll{
        0%
        {
            transform:translateX(0px)
        }
        100%{
            transform:translateX(calc(-300px))
        }
    }
    .slider-content{
     
        width: 90%;
        padding: 0 20px;
    
    }
}

@media (max-width: 400px) {
.Skills .slider .slide-map1{
  flex-wrap: wrap;
}

}