html {
  scroll-behavior: smooth;
}
.hero {
  position: relative;
}
.hero h3 {
  font-weight: 100;
  letter-spacing: 2px;
}
.hero h1 {
  font-size: 60px;
  font-weight: bold;
}

.hero h1 span {
  color: #ff014f;
}
.hero h2 {
  font-size: 50px;
  font-weight: bold;
  color: #ff014f;
}
.hero h2 span {
  color: black;
}
.hero p {
  color: #878e99;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}
.hero_btn {
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
}
.hero_btn h4 {
  font-weight: 500;
  letter-spacing: 2px;
  color: #43474b;
  font-size: 15px;
  margin: 30px 0 30px -10px;
  text-align: center;
}
.hero_btn button {
  margin-right: 30px;
  margin-bottom: 10px;
}
.hero_btn i {
  font-size: 20px;
}
.typo{
  display: flex;
}
.typo span{
  margin-left: 10px;
}
.hero .left {
  margin-right: 10%;
}


.col_1 h4{
  margin-left: -30px;
}


.righthome{
  position:relative;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .righthome::before{
  content: '';
  position: absolute; 
  bottom: 30px;
  width: 100%;
  height: 60px;
  background: radial-gradient(rgba(0,0,0,0.2),transparent,transparent);
  border-radius: 50%;
}

.clock-container{
  position: relative;
  z-index: 1;
  width: 350px;
  height: 350px;
  backdrop-filter: blur (25px);
  border-radius: 50%;
  animation: animate 5s ease-in-out infinite;
  animation-delay: -2.5s;
  background: linear-gradient(145deg, #000000, #000000);
}
@keyframes animate {
    0%,100%{
      transform: translateY(10px);
    }
    50%{
      transform: translateY(-10px);
    }
}

.clock{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./clock.png);
  background-size: cover;
  border-radius: 50%;
  backdrop-filter: blur(25px);
  border: 4px solid #091921;
  border-bottom: none;
  border-right: none;
  box-shadow: 0px -15px 15px rgba(255,255,255,.05), inset 0px -15px 15px rgba(255,255,2555,.05), 0px 15px 15px rgba(0,0,0,.05), inset 0 15px 15px rgba(0,0,0,.05) ;
}

.clock::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  z-index: 1000;

}

.hour,.min,.sec{
  position: absolute;
}
.hour,.hr{
  width: 150px;
  height: 150px;
}
.min,.mn{
  width: 220px;
  height: 220px;
}
.sec,.sc{
  width: 250px;
  height: 250px;
}
.hr, .mn, .sc{
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.hr::before{
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background: #ff014f;
  z-index: 11;
  border-radius: 6px;
}
.mn::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 110px;
  background: #fff;
  z-index: 12;
  border-radius: 6px;
}
.sc::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 150px;
  background: rgb(0, 200, 255);
  z-index: 13;
  border-radius: 6px;
}


@media (max-width: 1500px) {
  .hero h1{
    font-size: 50px;
  }
  .hero h2{
    font-size: 40px;
  }
  .hero p{
    font-size: 16px;
  }
}

@media (max-width: 1240px) {
  .hero h1{
    font-size: 35px;
  }
  .hero h2{
    font-size: 30px;
  }
  .hero p{
    font-size: 16px;
  }
}

@media (max-width: 960px) {
  .hero{
    text-align: center;
    
  }
  .typo{
    display: flex;
    justify-content: center;
  }
  .hero .right,
  .hero .left {
    width: 100%;
    /* padding: 0 20px 0 10px; */

  }
  .hero_btn{
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .hero h1{
    font-size: 50px;
  }
  .hero h2{
    font-size: 40px;
  }
  .hero p{
    font-size: 16px;
    padding: 0 30px;
  }
  .hero .f_flex {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .hero .clock-container {
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    line-height: 35vw;
    margin-top: 20%;
  }
  /* .hero .right_img h1  {
    font-size: 60px;
  } */
  .righthome::before{
    bottom: -100px;
}
.hour,.hr{
  width: 140px;
  height: 140px;
}
.min,.mn{
  width: 210px;
  height: 210px;
}
.sec,.sc{
  width: 240px;
  height: 240px;
}

.hr::before{
 
  width: 8px;
  height: 75px;
  

}
.mn::before{

  width: 4px;
  height: 105px;

}
.sc::before{
 
  width: 2px;
  height: 140px;

}
}

@media (max-width: 650px) {
  .hero{
    text-align: center;
    min-width: 450px;
  }
  .hero h1{
    font-size: 30px;
  }
  .hero h2{
    font-size: 25px;
  
  }
  .hero p{
    font-size: 16px;
  }
  
  /* .hero .right_img h1  {
    font-size: 40px;
  } */
  .right::before{
      bottom: -100px;
  }
  .hour,.hr{
    width: 80px;
    height: 80px;
  }
  .min,.mn{
    width: 110px;
    height: 110px;
  }
  .sec,.sc{
    width: 125px;
    height: 125px;
  }
  .hr::before{
    width: 5px;
    height: 45px;
  }
  .mn::before{
    width: 3px;
    height: 65px;
  }
  .sc::before{
    width: 2px;
    height: 85px;
  }
  
}

@media (max-width: 420px) {
  .hero{
    text-align: center;
    min-width: 300px;
  }
  .hour,.hr{
    width: 60px;
    height: 60px;
  }
  .min,.mn{
    width: 80px;
    height: 80px;
  }
  .sec,.sc{
    width: 100px;
    height: 100px;
  }
  .hr::before{
    width: 4px;
    height: 35px;
  }
  .mn::before{
    width: 2px;
    height: 40px;
  }
  .sc::before{
    width: 1px;
    height: 50px;
  }
  .clock-container{
    min-width: 150px;
    min-height: 150px;

  }

}






